/* CV STYLE */
.big-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr;
    height: auto;
    animation: slide-initial 2s;
}

/* LEFT CONTAINER */
.left-container {
    background-color: var(--primary-color);
    grid-row-start: 2;
    display: flex;
}
.who {
     display: none;
}
.l-s {
    margin-top: var(--spacing2);
    width: var(--max-width);
    display: flex;
    justify-content: space-around;
}
.langues {
    margin: var(--spacing2);
}
.langues p {
    margin: var(--spacing2);
}
.centre-interet {
     margin: var(--spacing2);
}
.centre-interet p {
    margin: var(--spacing2);
}
/* LEFT CONTAINER END */

/* RIGHT CONTAINER */
.right-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}
.top-right-container {
    background-color: var(--gray);
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}
.about-me {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.mail-num {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.mail {
    text-align: center;  
}
.num {
    text-align: center;
    font-weight: bold;
}
.location {
    text-align: justify;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin: var(--spacing);
}
.bottom-right-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 0.5fr;
}
.exp-pro {
    margin: var(--spacing2);
    margin-top: 0%;
}
.exp-pro p {
    margin: var(--spacing);
}
.formation {
    margin: var(--spacing2);
    margin-top: 0%;
}
.formation p {
    margin: var(--spacing);
}
.autres {
    margin: var(--spacing2);
    margin-top: 0%;
}
.autres p {
    margin: var(--spacing);
}
/* RIGHT CONTAINER END */
/* STYLE CV END */

@media screen and (min-width: 700px) {
    /* RESPONSIVE CV */
    .big-container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100%;
    }
    .left-container {
        grid-row-start: 1;
        display: flex;
        flex-direction: column; 
    }
    .who {
        grid-column-start: 1;
        grid-column-end: 3;
        display: initial;
        text-align: center;
        margin-top: var(--spacing3);
        margin-bottom: var(--spacing3);
    }
    
    .langues {
        margin-top: 0%;
        grid-row-start: 2;
    }
    .centre-interet {
        margin-top: 0%;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .top-right-container {
        display: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .mail-num {
        display: flex;
        justify-content: space-around;
    }
    .location {
        align-self: center;
    }
    /* REPONSIVE CV END */
}