.light {
    font-size: 2rem;
}
.dark {
    font-size: 2rem;
    display: none !important;
}

.dark-thema {
    background-color: #0e1215;
    color: whitesmoke;
}
.dark-thema .dark {
    display: block !important;
}
.dark-thema .light {
    display: none;
}

.open .light {
    display: none;
}
.open .dark {
    display: none !important;
}
