/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 100%;
    --primary-color: #FFDEAD;
    --light: white;
    --dark: black;
    --sapcing: 8px;
    --spacing2: 16px;
    --spacing3: 24px; 
}
/* GENERAL END */

/* HEADER */
header {
    height: 100px;
    overflow: auto;
    background-color: var(--dark);
    color: var(--light);
}
header ul {  
    height: 100px;  
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style: none;
    float: right;
}
header ul li {
    margin: calc(var(--spacing2));
}
header ul li a {
    padding: var(--spacing2);
    text-decoration: none;
    color: var(--light);
}
header ul li a:hover {
    background-color: grey;
}
/* HEADER END */