/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 100%;
    --primary-color: #FFDEAD;
    --light: white;
    --dark: black;
    --sapcing: 8px;
    --spacing2: 16px;
    --spacing3: 24px; 
}
/* GENERAL END */

