/* IMPORT ↓ */ 

@import url(styles/header.css);
@import url(styles/cv.css);
@import url(styles/form.css);
@import url(styles/dark-light.css);
@import url(styles/arrow-to-top.css);
@import url(styles/animations.css);
@import url(styles/switchLang.css);

/* IMPORT ↑ */

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 100%;
    --primary-color: #4472C4;
    --light: white;
    --dark: black;
    --gray: lightgrey;
    --spacing: 8px;
    --spacing2: 16px;
    --spacing3: 24px;
    --calc-height: 1em  ;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    width: var(--max-width);
    height: 100%;
    background-color: var(--light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;

}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
/* GENERAL END */



/* STYLE ABOUT ME */
main {
    width: 100%;
}
.about-me1 {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    animation: slide-initial 2s;
}

.me h2 {
    margin: var(--spacing3);
}
.me p {
    margin: calc(var(--spacing2)*2);
    text-align: justify;
}

.my-objective h2 {
    margin: var(--spacing3);
}
.my-objective p {
    margin: calc(var(--spacing2)*2);
}
/* STYLE ABOUT ME END */


/* STYLE PROJET */
.projets {
    height: auto;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: hidden;
}
.projet {
    width: auto;
    height: auto;
    border: 1px solid black;
    margin: var(--spacing3);
    padding: var(--spacing2);
    
}

.projet-1 {
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 4;
   animation: slide-in-right 2s;
}
.projet-2 {
    background-color: #4472C4;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    animation: slide-in-left 2s;
}
.projet-3 {
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    animation: slide-in-right 2s;
}
/* STYLE PROJET END */


/*REPONSIVE PC */
@media screen and (min-width: 700px) {
    
    .about-me1 {
        flex-direction: row;
    }
    .projets {
        grid-template-rows: 1fr 1fr;
        
    }
    .projet-1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .projet-2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: initial ;
    }
    .projet-3 {
        grid-column-start: 2;
        grid-column-end: 3  ;
        grid-row-start: 2;
    }
}
/* RESPONSIVE PC END */


